<div id="header">
<h1>Articl.es</h1>
<p>...with a name .com hipsters love!</p>
</div>

<p>
<h2>All the World's Articles</h2>
<%= link_to image_tag("new.jpg", :border=>0), new_article_path, :class=> "new", :title => "create a new article" %>
</p>


<table id="headers">
  <tr class="titles">
    <th id="title">Title</th>
    <th id="author">Author name</th>
    <th id="body">Body</th>
    <th id="date">Creation date</th>
    <th class="button"></th>
    <th class="button"></th>
    <th class="button"></th>
  </tr>
  </table>
  <div id="scrollTable">
  <table id="innerTable">
<% @articles.each do |article| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td id="title"><%=h article.title %></td>
    <td id="author"><%=h article.author_name %></td>
    <td id="body"><%=h truncate(article.body, :length => 45) %></td>
    <td id="date"><%=h article.created_at.strftime("%A, %b %d %Y") %></td>
    <td class="button"><%= link_to image_tag("view.jpg", :border=>0), article, :title => "view the article" %></td>
    <td class="button"><%= link_to image_tag("edit.jpg", :border=>0), edit_article_path(article), :title => "edit the article" %></td>
    <td class="button"><%= link_to image_tag("delete.jpg", :border=>0), article, :confirm => 'Are you sure?', :method => :delete, :title => "delete the article" %></td>
  </tr>
<% end %>
</table>
</table>
</div>

<div id="borderBottom">
</div>

<br />

<div>
<%= pluralize(@total_articles, "article") %>.
</div>

<br />

