#buttonsBar
	= link_to image_tag("arrow_left.png", :border=>0) + ' back', :back, :title => "to author list or author display"
%br

%h2 Editing Author
%br
- form_for @author, :html => { :multipart => true } do |f|
	- f.error_messages
	%p
		= f.label :author_name
		= f.text_field :author_name
	%p
		= f.label :photo
		= f.file_field :photo
	%p
		#submitButton
			= f.submit 'Update'