<h1>Listing authors</h1>

<table>
  <tr>
    <th ID </th>
    <th>Author name</th>
    <th>Photo url</th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%=h author.id %></td>
    <td><%=h author.author_name %></td>
    <td><%=h author.photo_url %></td>
    <td><%= link_to 'Show', author %></td>
    <td><%= link_to 'Edit', edit_author_path(author) %></td>
    <td><%= link_to 'Destroy', author, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New author', new_author_path %>