<h1>Your Pragmatic Catalog</h1>

<% for product in @products -%>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%= product.title %></h3>
    <%= product.description %>
    <div class="price-line">
    <span class="price"><%= number_to_currency(product.price) %></span>
<<<<<<< HEAD
    <% form_remote_tag :url => {:action => 'add_to_cart', :id => product } do %>
      <%= submit_tag "Add to Cart" %>
    <% end %>
=======
    <%= button_to "Add to Cart", :action => 'add_to_cart', :id => product %>
>>>>>>> 868e3b4fb6ae6ada719128af5d841561815cc2bc
    </div>
  </div>
<% end %>
