- form_for([:admin, @user], :html => {:multipart => true}) do |f|
  = f.error_messages
  %p
    = f.label :username
    %br
    = f.text_field :username
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br
    = f.text_field :last_name
  %p
    = f.label :email
    %br
    = f.text_field :email
        
  %p
    = f.label :photo
    = f.file_field :photo
    = image_tag @user.photo.url()
  %p
    = f.label :role
    = f.select(:role_id, Role.all.collect {|r| [ r.name, r.id ] }, {:prompt => 'Select Role'})

  %p
    = f.submit
