%h2 Users

#pagination
	= will_paginate @users
%br 

%table#headers
	%tr.titles
		%th#name Name
		%th#user Username
		%th#login Last Login
		%th.button
		%th.button
		%th.button
		
	- for user in @users
		%tr{:class => cycle('odd','even')}
			%td= link_to user.first_name+' '+user.last_name,  edit_admin_user_path(user)
			%td= h user.username
			%td  
				-if user.last_login_at != nil
					=h time_ago_in_words(user.last_login_at)+" ago"
				-elsif user.current_login_at != nil
					=h time_ago_in_words(user.current_login_at)+" ago"
				- else
					=h "Never"
			%td.button= link_to 'Show', [:admin, user]
			%td.button= link_to 'Edit', edit_admin_user_path(user)
			%td.button= link_to 'Destroy', [:admin, user], :confirm => 'Are you sure?', :method => :delete
#borderBottom
%p= link_to "New User", new_admin_user_path
