%h2 Roles

#roles
	%table#headers
		%tr.titles
			%th ID
			%th Name
			%th.button
			%th.button
		- for role in @roles
			%tr{:class => cycle('odd','even')}
				%td= h role.id
				%td= h role.name
				%td.button= link_to 'Edit', edit_admin_role_path(role)
				%td.button= link_to 'Destroy', [:admin, role], :confirm => 'Are you sure?', :method => :delete
	#borderBottom

%p= link_to "New Role", new_admin_role_path
