%h2 My Gamez
%p= link_to "add a new game", new_member_game_path
%br
#pagination
  = will_paginate @games
%br

- if @games.count == 0
  = "You have created no gamez"
- else
  %table#headers
    %tr.titles
      %th Title
      %th Rating
      %th Date Added
   
    - for game in @games
      %tr{:class => cycle('odd','even')}
        %td=link_to game.title, edit_member_game_path(game)
        %td= h get_rating(game.rating)
        %td= h game.created_at.to_s(:shorttime)+" by me"
  #borderBottom
  %p
    I've created
    =(Game.find_all_by_user_id(current_user.id)).count()
    games
