#header
	%p ...my cousin works for Bit.ly
	
#buttonBar
	= link_to image_tag("arrow_left.png", :border=>0) + ' back', :back, :title => "to articles list or article display"
	
%h2 
	Editing
	= @article.title

- form_for @article do |f|
	= f.error_messages
	%p 
		= f.label :title
		= f.text_field :title
	%p
		= f.label :author_id
		= f.select(:author_id, Author.all.collect {|a| [ a.author_name, a.id ] }, {:prompt => 'Select Author'})

	%p
		= f.label :body
		= f.text_area :body
		
	%br

	%p
		#submitButton
			= button_to "Save Changes", :title => "save changes made to the article"