<div id="header">
<h1>Articl.es</h1>
<p>...my cousin works for Bit.ly</p>
</div>

<div id="buttonBar">
<%= link_to image_tag("arrow_left.png", :border=>0) + ' back', :back, :title => "to articles list or article display" %>
</div>

<h2>Editing "<%=h @article.title %>"</h2>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :author_name %>
    <%= f.text_field :author_name %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <br />
  <p>
    <div id="submitButton">
    <%= button_to "Save Changes", :title => "save changes made to the article" %>
    </div>
  </p>
<% end %>