#header
	%h1 Articl.es
	%p ...with a name .com hipsters love!

%h2 All the World's Articles
= link_to image_tag("book_add.png", :border=>0) + ' new article', new_article_path, :class=> "new", :title => "create a new article" 

#pagination
	= will_paginate @articles
%br
%table#headers
	%tr.titles
		%th#title Title
		%th#author Author Name
		%th#body Body
		%th#date Creation Date
		%th.button
		%th.button
		%th.button
		
	- @articles.each do |article|
		%tr{:class => cycle('odd','even')}
			%td#title= article.title
			%td#author= Author.find(article.author_id).author_name
			%td#body= truncate(article.body, :length => 45)
			%td#date= article.created_at.strftime("%A, %b %d %Y")
			%td.button= link_to image_tag("zoom.png", :border=>0), article, :title => "view the article"
			%td.button= link_to image_tag("book_edit.png", :border=>0), edit_article_path(article), :title => "edit the article"
			%td.button= link_to image_tag("delete.png", :border=>0), article, :confirm => 'Are you sure?', :method => :delete, :title => "delete the article"
#borderBottom
= pluralize(@total_articles, "article") 

%br

#pagination
	= will_paginate @articles
