#header
	%p ...not just the country of Spain
	
#buttonBar
	= link_to image_tag("arrow_left.png", :border=>0) + ' list all articles', articles_path, :title => "to articles list screen"

%h2 Creating a New Article

- form_for @article do |f|
	= f.error_messages
	
	%p 
		= f.label :title
		= f.text_field :title
	%p
		= f.label :author_id
		= f.select(:author_id, Author.all.collect {|a| [ a.author_name, a.id ] }, {:prompt => 'Select Author'})
	
	%p
		= f.label :body
		= f.text_area :body
	%br

	%p#submitButton
		=  button_to "Create!", :title => "click to create the article"