<div id="header">
<h1>Articl.es</h1>
<p>...not just the country of Spain</p>
</div>

<div id="buttonBar">
<%= link_to image_tag("arrow_left.png", :border=>0) + ' list all articles', articles_path, :title => "to articles list screen" %>
</div>

<h2>Creating a New Article</h2>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :author_name %>
    <%= f.text_field :author_name %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <br />
  <p>
    <div id="submitButton">
    <%= button_to "Create!", :title => "click to create the article"%>
    </div>
  </p>
<% end %>